In [1]:
import numpy as np
import pandas as pd

from ols_bootstrap.pairs import PairsBootstrap
from ols_bootstrap.residual import ResidualBootstrap
from ols_bootstrap.wild import WildBootstrap

pd.options.display.float_format = '{:20,.5f}'.format  ### Setting pd to have a numerical precision up to 5 decimal points

In [2]:
df = pd.read_csv('./balance2018.csv')
df = df[df['sales_clean'] != 0]
df = df[['sales_clean', 'tanass_clean', 'tax']]
df = df.dropna(subset=['tanass_clean', 'tax'])

df_scaled = df.applymap(lambda x: np.log(x + 1))

/home/phamv/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_sample = df_scaled.sample(n=10000, replace=False)

Y_data = pd.DataFrame(df_sample.iloc[:, 0])
X_data = pd.DataFrame(df_sample.iloc[:, 1:])

## Default SE on the original OLS is HC3, default CI on bootstrapped parameter is BC. 

That is by default se_type = 'hc3', ci_type = 'bc'.

The default seed value is None. For reprudocability, use an integer of your choice.

In [4]:
psb = PairsBootstrap(Y_data, X_data, reps = 1000, se_type='hc3', ci_type = 'bc')  # seed = None, se_type = 'hc3' and ci_type = 'bc' are default options for these arguments.
psb.fit()

In [5]:
rsb = ResidualBootstrap(Y_data, X_data, reps = 1000)
rsb.fit()

In [6]:
wb_unif = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "uniform")
wb_unif.fit()

In [7]:
wb_stdn = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "standard_normal")
wb_stdn.fit()

In [8]:
wb_rad = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "rademacher")
wb_rad.fit()

In [9]:
wb_web4 = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "webb4")
wb_web4.fit()

In [10]:
wb_web6 = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "webb6")
wb_web6.fit()

In [11]:
wb_cont_mam = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "mammen_cont")
wb_cont_mam.fit()

In [12]:
wb_mam = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "mammen")
wb_mam.fit()

In [13]:
psb.summary()

+---------------------------------------------------------------------------------------------------------------------+
|               Pairs Bootstrap results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI               |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1771    | 0.0007 |     0.0444    |    0.0426    |     3.98     | [6.0880, 6.2579] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1772    | 0.0002 |     0.0050    |    0.0049    |     0.49     | [0.1677, 0.1866] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5258    | 0.0003 |     0.0091    |    0.0092    |    -1.91     | [0.5082, 0.5443] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [14]:
rsb.summary()

+---------------------------------------------------------------------------------------------------------------------+
|              Residual Bootstrap results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI             |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1771    | 0.0007 |     0.0444    |    0.0350    |    21.27     | [6.1090, 6.2481] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1773    | 0.0001 |     0.0050    |    0.0040    |    19.01     | [0.1698, 0.1853] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5257    | 0.0002 |     0.0091    |    0.0065    |    28.69     | [0.5117, 0.5367] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [15]:
wb_unif.summary()

+---------------------------------------------------------------------------------------------------------------------+
|         Wild Bootstrap with Uniform results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI         |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1780    | 0.0003 |     0.0444    |    0.0358    |    19.40     | [6.1086, 6.2533] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1775    | 0.0001 |     0.0050    |    0.0040    |    19.97     | [0.1700, 0.1851] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5251    | 0.0003 |     0.0091    |    0.0063    |    30.15     | [0.5132, 0.5376] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [16]:
wb_stdn.summary()

+---------------------------------------------------------------------------------------------------------------------+
|     Wild Bootstrap with Standard Normal results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI     |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1776    | 0.0002 |     0.0444    |    0.0346    |    21.98     | [6.1097, 6.2483] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1775    | 0.0001 |     0.0050    |    0.0038    |    24.03     | [0.1705, 0.1846] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5254    | 0.0001 |     0.0091    |    0.0065    |    28.34     | [0.5141, 0.5390] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [17]:
wb_rad.summary()

+---------------------------------------------------------------------------------------------------------------------+
|        Wild Bootstrap with Rademacher results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI       |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1785    | 0.0007 |     0.0444    |    0.0352    |    20.63     | [6.1093, 6.2462] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1774    | 0.0000 |     0.0050    |    0.0039    |    20.51     | [0.1697, 0.1849] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5254    | 0.0001 |     0.0091    |    0.0066    |    26.81     | [0.5131, 0.5392] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [18]:
wb_web4.summary()

+---------------------------------------------------------------------------------------------------------------------+
|          Wild Bootstrap with Webb4 results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI          |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1776    | 0.0002 |     0.0444    |    0.0348    |    21.53     | [6.1095, 6.2465] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1774    | 0.0000 |     0.0050    |    0.0039    |    20.88     | [0.1697, 0.1852] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5254    | 0.0001 |     0.0091    |    0.0065    |    28.63     | [0.5119, 0.5377] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [19]:
wb_web6.summary()

+---------------------------------------------------------------------------------------------------------------------+
|          Wild Bootstrap with Webb6 results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI          |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1785    | 0.0007 |     0.0444    |    0.0353    |    20.40     | [6.1106, 6.2461] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1775    | 0.0001 |     0.0050    |    0.0039    |    20.35     | [0.1694, 0.1844] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5253    | 0.0002 |     0.0091    |    0.0065    |    27.95     | [0.5137, 0.5397] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [20]:
wb_cont_mam.summary()

+---------------------------------------------------------------------------------------------------------------------+
|       Wild Bootstrap with Mammen Cont results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI       |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1794    | 0.0017 |     0.0444    |    0.0352    |    20.69     | [6.1111, 6.2499] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1772    | 0.0002 |     0.0050    |    0.0037    |    24.75     | [0.1698, 0.1842] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5253    | 0.0002 |     0.0091    |    0.0067    |    26.41     | [0.5118, 0.5374] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

In [21]:
wb_mam.summary()

+---------------------------------------------------------------------------------------------------------------------+
|          Wild Bootstrap with Mammen results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI         |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     Var      | OLS Params | Avg BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|    const     |   6.1777   |     6.1776    | 0.0001 |     0.0444    |    0.0361    |    18.62     | [6.1113, 6.2538] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
| tanass_clean |   0.1774   |     0.1776    | 0.0002 |     0.0050    |    0.0040    |    18.79     | [0.1686, 0.1847] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+
|     tax      |   0.5255   |     0.5253    | 0.0002 |     0.0091    |    0.0065    |    27.75     | [0.5130, 0.5385] |
+--------------+------------+---------------+--------+---------------+--------------+--------------+------------------+

## Some useful methods were implemented (let's use it on wb_mam object of Wild Bootstrap with Mammen)

- The common in the following three methods is that either a string (if one wishes to capture one variable or ci) or 1-D like array can be provided to 'which_var' and/or 'which_ci' (the latter if exists in that object class).

### get_ci() method

#### Vanila version is when only the actual CI was used with all independent variables

In [22]:
wb_mam.get_ci()

                               bc
                              lwb                  upb
const                     6.11129              6.25384
tanass_clean              0.16857              0.18467
tax                       0.51304              0.53853

#### However, any combination of ('bc', 'bca', 'percentile) CI types could be selected and any combinations of independent variables can be chosen with 'which_ci' and 'which_var' optional arguments, respectively.

Please note that if choosing 'bca' the calculation can take a while as it uses jacknife resampling for calculating the acceleration factor

In [23]:
wb_mam.get_ci(which_ci=['bc', 'percentile'], which_var=['tax', 'const'])

                        bc                                percentile  \
                       lwb                  upb                  lwb
tax                0.51304              0.53853              0.51233
const              6.11129              6.25384              6.10945


                       upb
tax                0.53814
const              6.25335

In [24]:
wb_mam.get_ci(which_ci=['bca', 'bc'], which_var='tanass_clean')

                               bc                                       bca  \
                              lwb                  upb                  lwb
tanass_clean              0.16857              0.18467              0.16860


                              upb
tanass_clean              0.18471

In [25]:
wb_mam.get_ci(which_ci='bc', which_var='tanass_clean')

                               bc
                              lwb                  upb
tanass_clean              0.16857              0.18467

### get_all_se() method

The following SE-s are calculated: 
- bootstrapped - standard error of the bootstrapped parameters
- constant - model-based OLS Standard Errors, that is, constant variance is assumed 
- HC0, HC1, HC2, HC3, HC4, HC4m, HC5 - Heteroskedasticity-Consistent Standard Errors (HCE) using sandwich estimators

#### Vanila version is when using all indepencdent variables.

In [26]:
wb_mam.get_all_se()

,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
const,0.03514,0.04438,0.04439,0.04439,0.04440,0.04440,0.04441,0.04440
tanass_clean,0.00391,0.00495,0.00496,0.00496,0.00496,0.00496,0.00496,0.00496
tax,0.00653,0.00905,0.00905,0.00905,0.00906,0.00906,0.00906,0.00906

#### A subset of indepent variables can be chosen with 'which_var' argument to calculate the above-mentioned 9 SE-s

In [27]:
wb_mam.get_all_se(which_var=['tanass_clean', 'tax'])

,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
tanass_clean,0.00391,0.00495,0.00496,0.00496,0.00496,0.00496,0.00496,0.00496
tax,0.00653,0.00905,0.00905,0.00905,0.00906,0.00906,0.00906,0.00906

In [28]:
wb_mam.get_all_se(which_var='tax')

,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
tax,0.00653,0.00905,0.00905,0.00905,0.00906,0.00906,0.00906,0.00906

### get_bootstrap_params() method

#### Vanila version: Returning a dataframe capturing the parameter estimate of ALL each independent variables in each (wild) bootstrap.

In [29]:
wb_mam.get_bootstrap_params()

                   const         tanass_clean                  tax
0                6.17251              0.17381              0.53178
1                6.15438              0.18652              0.51612
2                6.16839              0.17612              0.52944
3                6.18530              0.17521              0.52542
4                6.13516              0.18088              0.52451
..                   ...                  ...                  ...
995              6.18256              0.17852              0.52412
996              6.14763              0.18036              0.52414
997              6.13147              0.17438              0.53991
998              6.26932              0.17529              0.50785
999              6.17289              0.17737              0.53060

[1000 rows x 3 columns]

#### As usual, the desired independent variable can be chosen with 'which_var' argument

In [30]:
wb_mam.get_bootstrap_params(which_var='tax')

                     tax
0                0.53178
1                0.51612
2                0.52944
3                0.52542
4                0.52451
..                   ...
995              0.52412
996              0.52414
997              0.53991
998              0.50785
999              0.53060

[1000 rows x 1 columns]

In [31]:
wb_mam.get_bootstrap_params(which_var=('const', 'tanass_clean'))

                   const         tanass_clean
0                6.17251              0.17381
1                6.15438              0.18652
2                6.16839              0.17612
3                6.18530              0.17521
4                6.13516              0.18088
..                   ...                  ...
995              6.18256              0.17852
996              6.14763              0.18036
997              6.13147              0.17438
998              6.26932              0.17529
999              6.17289              0.17737

[1000 rows x 2 columns]

### bp_test() and white_test() methods

#### Vanila version: for bp_test() returning the robust version (proposed by Roger Koenker) of this test when the presence of the heteroscedasticity is examined on the residual of the OLS on the original sample data. For white_test(), there are no optional arguments

In [32]:
wb_mam.bp_test()

(479.50829047321395,
 7.517920179004794e-105,
 251.75403362117885,
 2.1325874810483277e-107)

In [33]:
wb_mam.white_test()

(1615.7207993722554, 0.0, 385.18549496102986, 0.0)

#### The non-robust version of bp_test() can be achieved by setting bp_test(robust = False).

In [34]:
wb_mam.bp_test(robust = False)

(986.8644687798769,
 5.071114438388376e-215,
 251.75403362117981,
 2.132587481047055e-107)

At each test, the first value is the calculated LM-test stats, the second is the 'LM p-value' corresponding to the LM-test stats, the third value is the F-test stats and last one is the 'F p-value'.

As it can be seen the p-values are 0, so we can rejcet the null hypothesis of homoscedasticity, and accept the alternative hypothesis that the variance of the residuals is heteroscedastic.