In [1]:
import numpy as np
import pandas as pd

from ols_bootstrap.pairs import PairsBootstrap
from ols_bootstrap.residual import ResidualBootstrap
from ols_bootstrap.wild import WildBootstrap

pd.options.display.float_format = '{:20,.5f}'.format  ### Setting pd to have a numerical precision up to 5 decimal points

In [2]:
df = pd.read_csv('./balance2018.csv')
df = df[df['sales_clean'] != 0]
df = df[['sales_clean', 'tanass_clean', 'tax']]
df = df.dropna(subset=['tanass_clean', 'tax'])

df_scaled = df.applymap(lambda x: np.log(x + 1))

/home/phamv/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (66) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df_sample = df_scaled.sample(n=10000, replace=False)

Y_data = pd.DataFrame(df_sample.iloc[:, 0])
X_data = pd.DataFrame(df_sample.iloc[:, 1:])

## Default SE on the original OLS is HC3, default CI on bootstrapped parameter is BC. 

That is by default se_type = 'hc3', ci_type = 'bc'.

In [4]:
psb = PairsBootstrap(Y_data, X_data, reps = 1000, se_type='hc3', ci_type = 'bc')  # se_type = 'hc3' and ci_type = 'bc' are default options for these arguments.
psb.fit()

In [5]:
rsb = ResidualBootstrap(Y_data, X_data, reps = 1000)
rsb.fit()

In [6]:
wb_unif = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "uniform")
wb_unif.fit()

In [7]:
wb_stdn = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "standard_normal")
wb_stdn.fit()

In [8]:
wb_rad = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "rademacher")
wb_rad.fit()

In [9]:
wb_web4 = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "webb4")
wb_web4.fit()

In [10]:
wb_web6 = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "webb6")
wb_web6.fit()

In [11]:
wb_cont_mam = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "mammen_cont")
wb_cont_mam.fit()

In [12]:
wb_mam = WildBootstrap(Y_data, X_data, reps = 1000, from_distro = "mammen")
wb_mam.fit()

In [13]:
psb.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|                     Pairs Bootstrap results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                      |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2430      | 0.0017 |     0.0447    |    0.0453    |    -1.36     | [6.1426, 6.3223] |  0.1798 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1717      | 0.0002 |     0.0051    |    0.0051    |    -0.68     | [0.1621, 0.1822] |  0.0202 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5205      | 0.0001 |     0.0091    |    0.0093    |    -1.87     | [0.5020, 0.5384] |  0.0364 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [14]:
rsb.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|                    Residual Bootstrap results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                    |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2412      | 0.0001 |     0.0447    |    0.0355    |    20.61     | [6.1772, 6.3204] |  0.1432 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1718      | 0.0001 |     0.0051    |    0.0038    |    25.29     | [0.1646, 0.1794] |  0.0147 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5208      | 0.0002 |     0.0091    |    0.0066    |    27.71     | [0.5074, 0.5330] |  0.0255 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [15]:
wb_unif.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|               Wild Bootstrap with Uniform results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2403      | 0.0010 |     0.0447    |    0.0361    |    19.21     | [6.1723, 6.3097] |  0.1374 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1719      | 0.0001 |     0.0051    |    0.0041    |    19.83     | [0.1643, 0.1803] |  0.0160 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5205      | 0.0000 |     0.0091    |    0.0068    |    24.98     | [0.5077, 0.5335] |  0.0258 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [16]:
wb_stdn.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|           Wild Bootstrap with Standard Normal results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI            |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2405      | 0.0008 |     0.0447    |    0.0341    |    23.65     | [6.1767, 6.3129] |  0.1362 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1720      | 0.0001 |     0.0051    |    0.0039    |    22.13     | [0.1629, 0.1788] |  0.0159 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5206      | 0.0000 |     0.0091    |    0.0064    |    29.64     | [0.5074, 0.5321] |  0.0247 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [17]:
wb_rad.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|              Wild Bootstrap with Rademacher results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI              |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2408      | 0.0005 |     0.0447    |    0.0345    |    22.89     | [6.1816, 6.3106] |  0.1290 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1719      | 0.0000 |     0.0051    |    0.0040    |    21.00     | [0.1640, 0.1794] |  0.0154 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5207      | 0.0002 |     0.0091    |    0.0067    |    26.07     | [0.5071, 0.5336] |  0.0265 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [18]:
wb_web4.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|                Wild Bootstrap with Webb4 results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2424      | 0.0011 |     0.0447    |    0.0344    |    23.04     | [6.1730, 6.3054] |  0.1324 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1716      | 0.0003 |     0.0051    |    0.0039    |    22.86     | [0.1651, 0.1807] |  0.0156 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5207      | 0.0001 |     0.0091    |    0.0066    |    27.65     | [0.5069, 0.5334] |  0.0265 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [19]:
wb_web6.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|                Wild Bootstrap with Webb6 results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2432      | 0.0019 |     0.0447    |    0.0336    |    24.95     | [6.1793, 6.3113] |  0.1320 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1719      | 0.0000 |     0.0051    |    0.0038    |    25.45     | [0.1649, 0.1794] |  0.0145 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5202      | 0.0004 |     0.0091    |    0.0065    |    28.80     | [0.5082, 0.5342] |  0.0259 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [20]:
wb_cont_mam.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|             Wild Bootstrap with Mammen Cont results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI              |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2425      | 0.0012 |     0.0447    |    0.0359    |    19.64     | [6.1678, 6.3103] |  0.1425 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1717      | 0.0002 |     0.0051    |    0.0037    |    25.90     | [0.1649, 0.1793] |  0.0144 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5207      | 0.0001 |     0.0091    |    0.0064    |    30.13     | [0.5080, 0.5329] |  0.0249 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

In [21]:
wb_mam.summary()

+----------------------------------------------------------------------------------------------------------------------------------+
|                Wild Bootstrap with Mammen results with 10000 obs and 1000 BS reps using HC3 SE-s and 95.00% BC CI                |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     Var      | OLS Params | Avg of BS Params |  Bias  | OLS Params SE | BS Params SE | % of SE Diff |        CI        | CI Diff |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|    const     |   6.2413   |      6.2412      | 0.0001 |     0.0447    |    0.0346    |    22.53     | [6.1773, 6.3071] |  0.1298 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
| tanass_clean |   0.1719   |      0.1721      | 0.0002 |     0.0051    |    0.0039    |    22.39     | [0.1635, 0.1791] |  0.0156 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+
|     tax      |   0.5206   |      0.5203      | 0.0003 |     0.0091    |    0.0065    |    28.81     | [0.5087, 0.5333] |  0.0246 |
+--------------+------------+------------------+--------+---------------+--------------+--------------+------------------+---------+

## Some useful methods were implemented (let's use it on wb_mam object of Wild Bootstrap with Mammen)

- The common in the following three methods is that either a string (if one wishes to capture one variable or ci) or 1-D like array can be provided to 'which_var' and/or 'which_ci' (the latter if exists in that object class).

### get_ci() method

#### Vanila version is when only the actual CI was used with all independent variables

In [22]:
wb_mam.get_ci()

                               bc
                              lwb                  upb
const                     6.17730              6.30712
tanass_clean              0.16349              0.17912
tax                       0.50869              0.53328

#### However, any combination of ('bc', 'bca', 'percentile) CI types could be selected and any combinations of independent variables can be chosen with 'which_ci' and 'which_var' optional arguments, respectively.

Please note that if choosing 'bca' the calculation can take a while as it uses jacknife resampling for calculating the acceleration factor

In [23]:
wb_mam.get_ci(which_ci=['bc', 'percentile'], which_var=['tax', 'const'])

                        bc                                percentile  \
                       lwb                  upb                  lwb
tax                0.50869              0.53328              0.50830
const              6.17730              6.30712              6.17755


                       upb
tax                0.53301
const              6.30778

In [24]:
wb_mam.get_ci(which_ci=['bca', 'bc'], which_var='tanass_clean')

                               bc                                       bca  \
                              lwb                  upb                  lwb
tanass_clean              0.16349              0.17912              0.16352


                              upb
tanass_clean              0.17918

In [25]:
wb_mam.get_ci(which_ci='bc', which_var='tanass_clean')

                               bc
                              lwb                  upb
tanass_clean              0.16349              0.17912

### get_all_se() method

The following SE-s are calculated: 
- bootstrapped - standard error of the bootstrapped parameters
- constant - model-based OLS Standard Errors, that is, constant variance is assumed 
- HC0, HC1, HC2, HC3, HC4, HC4m, HC5 - Heteroskedasticity-Consistent Standard Errors (HCE) using sandwich estimators

#### Vanila version is when using all indepencdent variables.

In [26]:
wb_mam.get_all_se()

,bootstrapped,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
const,0.03464,0.03478,0.04469,0.04470,0.04470,0.04471,0.04471,0.04472,0.04471
tanass_clean,0.00392,0.00391,0.00505,0.00505,0.00505,0.00505,0.00506,0.00506,0.00506
tax,0.00649,0.00655,0.00912,0.00912,0.00912,0.00912,0.00913,0.00912,0.00913

#### A subset of indepent variables can be chosen with 'which_var' argument to calculate the above-mentioned 9 SE-s

In [27]:
wb_mam.get_all_se(which_var=['tanass_clean', 'tax'])

,bootstrapped,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
tanass_clean,0.00392,0.00391,0.00505,0.00505,0.00505,0.00505,0.00506,0.00506,0.00506
tax,0.00649,0.00655,0.00912,0.00912,0.00912,0.00912,0.00913,0.00912,0.00913

In [28]:
wb_mam.get_all_se(which_var='tax')

,bootstrapped,constant,hc0,hc1,hc2,hc3,hc4,hc4m,hc5
tax,0.00649,0.00655,0.00912,0.00912,0.00912,0.00912,0.00913,0.00912,0.00913

### get_bootstrap_params() method

#### Vanila version: Returning a dataframe capturing the parameter estimate of ALL each independent variables in each (wild) bootstrap.

In [29]:
wb_mam.get_bootstrap_params()

                   const         tanass_clean                  tax
0                6.24269              0.17918              0.51060
1                6.32693              0.17228              0.50467
2                6.23546              0.17400              0.52060
3                6.22396              0.17370              0.51893
4                6.18961              0.17274              0.53191
..                   ...                  ...                  ...
995              6.25455              0.17227              0.51540
996              6.25166              0.17054              0.51827
997              6.27616              0.17121              0.51577
998              6.18994              0.16978              0.53236
999              6.21839              0.16735              0.52771

[1000 rows x 3 columns]

#### As usual, the desired independent variable can be chosen with 'which_var' argument

In [30]:
wb_mam.get_bootstrap_params(which_var='tax')

                     tax
0                0.51060
1                0.50467
2                0.52060
3                0.51893
4                0.53191
..                   ...
995              0.51540
996              0.51827
997              0.51577
998              0.53236
999              0.52771

[1000 rows x 1 columns]

In [31]:
wb_mam.get_bootstrap_params(which_var=('const', 'tanass_clean'))

                   const         tanass_clean
0                6.24269              0.17918
1                6.32693              0.17228
2                6.23546              0.17400
3                6.22396              0.17370
4                6.18961              0.17274
..                   ...                  ...
995              6.25455              0.17227
996              6.25166              0.17054
997              6.27616              0.17121
998              6.18994              0.16978
999              6.21839              0.16735

[1000 rows x 2 columns]

### bp_test() and white_test() methods

#### Vanila version: for bp_test() returning the robust version (proposed by Roger Koenker) of this test when the presence of the heteroscedasticity is examined on the residual of the OLS on the original sample data. For white_test(), there are no optional arguments

In [32]:
wb_mam.bp_test()

(561.1977608856,
 1.372317480715929e-122,
 297.19311166009385,
 4.188505711294015e-126)

In [33]:
wb_mam.white_test()

(1685.9373570782898, 0.0, 405.31948507713673, 0.0)

#### The non-robust version of bp_test() can be achieved by setting bp_test(robust = False).

In [34]:
wb_mam.bp_test(robust = False)

(1160.6909882328728,
 9.102366285163176e-253,
 297.19311166009413,
 4.188505711289015e-126)

At each test, the first value is the calculated LM-test stats, the second is the 'LM p-value' corresponding to the LM-test stats, the third value is the F-test stats and last one is the 'F p-value'.

As it can be seen the p-values are 0, so we can rejcet the null hypothesis of homoscedasticity, and accept the alternative hypothesis that the variance of the residuals is heteroscedastic.